{% extends "layout.html" %}
{% load static from staticfiles %}
{% block page %}home{% endblock %}
{% block content %}
<section id="home">
	<div class="row">
		<div class="four columns">
			<div>
				<img src="{% static "img/home/comunity.png" %}">
			</div>
			<h3>Community Solutions</h3>
			<p>Our work is focused on making a good social campaign and service to the various communities of our clients, finding the right solutions for business ideas each of you.</p>
			<span id="buttons">learn more</span>
		</div>
		<div class="four columns">
			<div>
				<img src="{% static "img/home/web.png" %}">
			</div>
			<h3>Web Development</h3>
			<p>We develop your ideas on the web, our products meet our customers' every need. such as social media, web sites, campaign tools, online stores, news sites - whatever!</p>
			<span id="buttons">learn more</span>
		</div>
		<div class="four columns">
			<div>
				<img src="{% static "img/home/mobile.png" %}">
			</div>
			<h3>Mobile Applications</h3>
			<p>Develop their ideas in differents mobile devices, our products meet the needs of our customers with the latest developments for Android, Blackberry, Windows Phone and Ihpone.</p>
			<span id="buttons">learn more</span>
		</div>
	</div>
</section>
{% endblock %}