<header id="main-header">
	<div class="row">
		<div class="four columns">
			<h1>PANDO</h1>
		</div>
		<div class="eight columns">
			<nav id="menu">
				<ul>
					<li>
						<a class="active" href="{% url "home" %}" title="">home</a>
					</li>
					<li>
						<a class="active" href="{% url "about" %}" title="">about us</a>
					</li>
					<li>
						<a class="active" href="{% url "work" %}" title="">our work</a>
					</li>
					<li>
						<a href="{% url "contact" %}">Contact</a>
					</li>
				</ul>
			</nav>
		</div>		
	</div>
	<div class="row">
		<div id="row"></div>
	</div>
</header>